<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="/static/js/content/ace/ace.js" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
<div class="layui-fluid">

    <input type="hidden" id="op_type" name="op_type" value="{{ op_type }}" />
    <input type="hidden" id="member_id" name="member_id" value="{{ member_id }}" />
    <input type="hidden" id="member_details" name="member_details" value="{{ member_details }}" />

    <div class="layui-row">
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>标题</label>
            <div class="layui-input-inline">
                <input type="text" id="title" name="title" required="" lay-verify="required"  value="{{ member_title }}"
                       autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>价格</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price" required="" lay-verify="required" value="{{ member_price }}"
                       autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>限制</label>
            <div class="layui-input-inline">
                <input type="text" id="limit" name="limit" required="" lay-verify="required" value="{{ member_limit }}"
                       autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>使用次数</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number" required="" lay-verify="required" value="{{ number }}"
                       autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>描述</label>
            <div class="layui-input-inline">
                <input type="text" id="describe" name="describe" required="" lay-verify="required" value="{{ member_describe }}"
                       autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>详情</label>
{#            <div>#}
{#                <input type="text" id="details" name="details" required="" lay-verify="required"#}
{#                       autocomplete="off">#}
{#            </div>#}
            <textarea id="details">
                {{ member_details }}
            </textarea>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">保存</button>
        </div>
        </form>
    </div>
</div>
<script>

            layui.use(['layedit', 'form','layer', 'jquery'], function () {
            var $ = layui.jquery;
            var layedit = layui.layedit;

            layedit.set({
                uploadImage: {
                    url: '/admin/upload',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: '10240'
                }
                //, uploadVideo: {
                //    url: '/Attachment/LayUploadFile',
                //    accept: 'video',
                //    acceptMime: 'video/*',
                //    exts: 'mp4|flv|avi|rm|rmvb',
                //    size: '20480'
                //}
                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
                //传递参数：
                //图片： imgpath --图片路径
                //视频： filepath --视频路径
                //开发者模式 --默认为false
                , devmode: true
                //插入代码设置
                , codeConfig: {
                    hide: true,  //是否显示编码语言选择框
                    default: 'javascript' //hide为true时的默认语言格式
                }
                , tool: [
                    'html','image','code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video', 'anchors'
                    , '|', 'fullScreen'
                ]
                , height: '90%'
            });

            var layui_content = layedit.build('details',{height: 380});
            var form = layui.form,
            layer = layui.layer;

            {#layedit.setContent($("#member_details").val());#}

        //监听提交
        form.on('submit(add)',
            function (data) {

            if($("#op_type").val() == 'update'){

                $.ajax({
                    type: "post",
                    url: "/admin/member-types/update",
                    data: {
                        member_id: $("#member_id").val(),
                        typename: $("#typename").val(),
                        title:$("#title").val(),
                        price:$("#price").val(),
                        limit:$("#limit").val(),
                        number:$("#number").val(),
                        describe:$("#describe").val(),
                        details:layedit.getContent(layui_content)
                    },
                    dataType: "json",
                    success: function (data) {
                        if(data.success) {
                            layer.alert("编辑成功", {
                                    icon: 6
                                },
                                function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                });
                        }
                    }
                });


            }else{
                $.ajax({
                    type: "post",
                    url: "/admin/memberTypes/submit",
                    data: {
                        typename: $("#typename").val(),
                        title:$("#title").val(),
                        price:$("#price").val(),
                        limit:$("#limit").val(),
                        number:$("#number").val(),
                        describe:$("#describe").val(),
                        details:layedit.getContent(layui_content)
                    },
                    dataType: "json",
                    success: function (data) {
                        if(data.success) {
                            layer.alert("增加成功", {
                                    icon: 6
                                },
                                function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                });
                        }
                    }
                });
            }
                return false;
            });


        });

</script>

</body>

</html>