<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

<div class="layui-fluid">
    <input type="hidden" id="service_types_id" name="service_types_id" value="{{ service_types_id }}" />
    <div class="layui-row">
        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>类型名称</label>
            <div class="layui-input-inline">
                <select style="padding: 7px 15px" id="type_id">
                    {% for types in type_records %}
                    <option value="{{ types.id }}">{{ types.type_name|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>分类名称</label>
            <div class="layui-input-inline">
                <input type="text" id="category_name" name="category_name" required="" lay-verify="required" value="{{ record.category_name }}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="typename" class="layui-form-label">
                <span class="x-red">*</span>价格</label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price" required="" lay-verify="required" value="{{ record.price }}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">编辑</button>
        </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form, layer = layui.layer;

        //监听提交
        form.on('submit(add)',
            function (data) {
                $.ajax({
                    type: "post",
                    url: "/admin/service-types-edit?id="+$("#service_types_id").val(),
                    data: {
                        type_id: $("#type_id").val(),
                        category_name: $("#category_name").val(),
                        price: $("#price").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                        if(data.success) {
                            layer.alert("编辑成功", {
                                    icon: 6
                                },
                                function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                    location.reload();
                                });
                        }
                    }
                });

                return false;
            });

    });</script>
</body>

</html>